.header {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    color: white
}

.sub-header {
    text-decoration: underline;
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    font-family: Verdana;
    text-decoration: underline;
}

video {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
}

.header-2 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    text-align: center;
}

p {
    font-family: Verdana;
    text-align: center;
    color: gray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    text-align: right;
    color: gray;
    font-family: Verdana;
    font-size: 20px;
}